# Supervised Learning Model Evaluation Lab

Complete the exercises below to solidify your knowledge and understanding of supervised learning model evaluation.

In [17]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression as lr
from sklearn.metrics import r2_score, mean_squared_error, mean_absolute_error, accuracy_score, balanced_accuracy_score, precision_score, recall_score, f1_score, confusion_matrix
from sklearn.linear_model import LogisticRegression

## Regression Model Evaluation

In [14]:
from sklearn.datasets import load_boston

data = load_boston()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=['MEDV'])

data = pd.concat([X, y], axis=1)

In [3]:
data

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

In [4]:
data.shape

(506, 14)

## 1. Split this data set into training (80%) and testing (20%) sets.

The `MEDV` field represents the median value of owner-occupied homes (in $1000's) and is the target variable that we will want to predict.

In [15]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [6]:
X

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33
...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88

In [7]:
y

     MEDV
0    24.0
1    21.6
2    34.7
3    33.4
4    36.2
..    ...
501  22.4
502  20.6
503  23.9
504  22.0
505  11.9

[506 rows x 1 columns]

## 2. Train a `LinearRegression` model on this data set and generate predictions on both the training and the testing set.

In [20]:
model = lr()
model.fit(X_train, y_train)

LinearRegression()

In [21]:
y_pred = model.predict(X_test)

In [22]:
y_train_pred = model.predict(X_train)

## 3. Calculate and print R-squared for both the training and the testing set.

In [31]:
r2_score(y_train, train)

0.74480600145857

In [32]:
r2_score(y_test, test)

0.7103055475633482

## 4. Calculate and print mean squared error for both the training and the testing set.

In [23]:
mean_squared_error(y_train, y_train_pred)

22.31637547882481

In [24]:
mean_squared_error(y_test, y_pred)

21.274980422256437

## 5. Calculate and print mean absolute error for both the training and the testing set.

In [25]:
mean_absolute_error(y_test, y_pred)

3.2350954408488457

In [26]:
mean_absolute_error(y_train, y_train_pred)

3.308055307141353

## Classification Model Evaluation

In [30]:
from sklearn.datasets import load_iris

data = load_iris()

X = pd.DataFrame(data["data"], columns=data["feature_names"])
y = pd.DataFrame(data["target"], columns=["class"])

data = pd.concat([X, y], axis=1)

In [28]:
data.head(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),class
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0

## 6. Split this data set into training (80%) and testing (20%) sets.

The `class` field represents the type of flower and is the target variable that we will want to predict.

In [28]:
from sklearn.model_selection import train_test_split

In [40]:
X = data.drop("class", axis=1)
y = data["class"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=None)

## 7. Train a `LogisticRegression` model on this data set and generate predictions on both the training and the testing set.

In [32]:
from sklearn.linear_model import LogisticRegression

In [42]:
iris = LogisticRegression()
iris.fit(X_train, y_train)

C:\Users\Dario\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:762: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

In [43]:
y_ir_pred = iris.predict(X_test)

In [44]:
y_ir_train_pred = iris.predict(X_train)

## 8. Calculate and print the accuracy score for both the training and the testing set.

In [52]:
from sklearn.metrics import accuracy_score

In [45]:
accuracy_score(y_train, y_ir_train_pred)

0.9833333333333333

In [46]:
accuracy_score(y_test, y_ir_pred)

0.9666666666666667

## 9. Calculate and print the balanced accuracy score for both the training and the testing set.

In [56]:
from sklearn.metrics import balanced_accuracy_score

In [47]:
balanced_accuracy_score(y_train, y_ir_train_pred)

0.9844961240310077

In [48]:
balanced_accuracy_score(y_test, y_ir_pred)

0.9523809523809524

## 10. Calculate and print the precision score for both the training and the testing set.

In [59]:
from sklearn.metrics import precision_score

In [49]:
precision_score(y_train, y_ir_train_pred, average = None)

array([1.        , 1.        , 0.95121951])

In [50]:
precision_score(y_test, y_ir_pred, average = None)

array([1.        , 1.        , 0.91666667])

## 11. Calculate and print the recall score for both the training and the testing set.

In [62]:
from sklearn.metrics import recall_score

In [51]:
recall_score(y_train, y_ir_train_pred, average = None)

array([1.        , 0.95348837, 1.        ])

In [52]:
recall_score(y_test, y_ir_pred, average = None)

array([1.        , 0.85714286, 1.        ])

## 12. Calculate and print the F1 score for both the training and the testing set.

In [65]:
from sklearn.metrics import f1_score

In [55]:
f1_score(y_train, y_ir_train_pred, average = None)

array([1.        , 0.97619048, 0.975     ])

In [54]:
f1_score(y_test, y_ir_pred, average = None)

array([1.        , 0.92307692, 0.95652174])

## 13. Generate confusion matrices for both the training and the testing set.

In [68]:
from sklearn.metrics import confusion_matrix

In [69]:
confusion_matrix(
    y_true=y_train,
    y_pred=y_pred_train,
)

array([[40,  0,  0],
       [ 0, 36,  2],
       [ 0,  0, 42]], dtype=int64)

In [70]:
confusion_matrix(
    y_true=y_test,
    y_pred=y_pred_test,
)

array([[10,  0,  0],
       [ 0, 11,  1],
       [ 0,  1,  7]], dtype=int64)

## Bonus: For each of the data sets in this lab, try training with some of the other models you have learned about, recalculate the evaluation metrics, and compare to determine which models perform best on each data set.